<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <!-- <groups>
    <run>
      <include name="functest"/>
    </run>
  </groups> -->
  
  <classes>
      <class name="Pac1.TestNgGroups">
     	 <methods>
        	<include name=".*testMethod2.*"/>
        	<exclude name=".*testMethod3.*"/>
      	</methods>
      </class>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
